#unfloated-container
{
    width: 1000px;
}
#header{
    width:100%;
    background-repeat: no-repeat;
    min-height:15%;
    position:absolute;
    display:flex;
    background-color: black;
    }
.logo{
    position:absolute;
    top:20%;
    left:5%;
    display:flex;
    font-family:'Calibri','Gill Sans','Gill Sans MT','Trebuchet MS',sans-serif;
    font-size:x-large;
    text-decoration-color: white;
    width:20%;
    }
.heading{
    align-items:center;
    text-decoration: none;
    color: rgb(243, 247, 21);
    top:7%;
    left:35%;  
    display: flex;     
    position:absolute;
    font-size:50px;
    width:35%;
    word-wrap:none;
    font-family:'Calibri','Gill Sans','Gill Sans MT','Trebuchet MS',sans-serif
    }
.menu{
    display:flex;
    position:absolute;        
    left:83%;
    top:25%;
    height: 3%;
    width:5%;
    font-family:"montserrat-regular,sans-serif";
    text-decoration:none;
    font-size:xx-large;
    letter-spacing: 0.2rem;
    color: rgba(255,255,255);
    }    
.menu:hover{
    color:cornflowerblue;
}
.menu-icon{
    display:flex;
    position:absolute;
    left:91%;
    top:25%;
    height:24%;
    width:17%;
}
.gallbg{
    background-color: rgb(224, 222, 221);
    width:100%;
    min-height:900px;
    display: flex;
}
.gall:hover{
    opacity:0.7;
}
.left1{
    top: 25%;
    left:25%;
    position:absolute;
    display:flex;
    border-radius: 10px;
    border-color: black;
}
.container{
    position:relative;
    width:100%;
}
.image{
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
    transition-duration: 0ms;
    opacity: 0;
    position: absolute;
    top: 40%;
    left:20%;
    display:flex;
    text-align: center;
}
.container:hover .image{
    opacity: 0.3;
}  
.container:hover .middle{
    opacity: 1;
}
.text{
    background-color:#4CAF50;
    font-size:25px;
    font-weight: bolder;
    padding:6% 6%;
    text-decoration:none;
    color: "black";
}
.right1{
    top:25%;
    left:50%;
    position:absolute;
    border-radius: 10px;
    border-color: black;
    display:flex;
    
}
.left2{
    top:60%;
    left:15%;
    position:absolute;
    border-radius: 10px;
    border-color: black;
    display:flex;
}
.center2{
    top:60%;
    left:40%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.right2{
    top:60%;
    right:15%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.left3{
    top:95%;
    left:15%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.center3{
    top:95%;
    left:40%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.right3{
    top:95%;
    right:15%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.left4{
    top:170%;
    left:20%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.center4{
    top:170%;
    left:45%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.right4{
    top:170%;
    right:10%;
    position:absolute;
    border-radius: 10px;
    display:flex;
    border-color: black;
}
.about{
    color:"black";
    text-decoration:none;
    font-family:'Calibri','Gill Sans','Gill Sans MT','Trebuchet MS','sans-serif';
    font-size:xx-large;
    text-align:center;
    display: flex;
    top:100%;
    left:50%;
}
  