.header{
    min-height:50px;
    width:100%;
    position: relative;
    background-color: black;
    margin:0%;
    padding: 1% 0% 1% 0%;
    }
.logo{
    margin:2% 7% 2% 7%;
    font-family:'Calibri','Gill Sans','Gill Sans MT','Trebuchet MS',sans-serif;
    font-size:x-large;
    color: white;
    position: relative;
    text-align:left;
    }
.heading{
    text-align:center;
    color: rgb(243, 247, 21);
    margin:2% 21% 2% 21%;
    position: relative;
    font-size:xx-large;
    text-overflow:clip;
    font-family:'Calibri','Gill Sans','Gill Sans MT','Trebuchet MS',sans-serif
}
.menu{     
    font-family:'montserrat-regular','sans-serif';
    font-size:xx-large;
    position:absolute;
    letter-spacing:0.2rem;
    margin-left: 5%;
    color: rgba(255,255,255);
}    
.menu:hover{
    color:cornflowerblue;
}
.gallbg{
    background-color: rgb(253, 166, 122);
    width:100%;
}
.gall:hover{
    opacity:0.7;
}
.set1{
    text-align:center;
    margin:auto;
    padding-top:2%;
}
.set2{
    text-align:center;
    margin:auto;
    padding-top: 2%;
    padding-bottom:2%;
}
.about{
    color:"black";
    text-align:center;
    font-family:'Calibri','Gill Sans','Gill Sans MT','Trebuchet MS','sans-serif';
    font-size:large;
    text-align:center;
    width:100%;
}
.image{
    height:250px;
    width:240px;
    border:solid;
    align-items:center;
}
.image-left{
    align-content:left;
    border:solid;
    height:250px;
    width:220px;
}
  